$white: #fff;

$gray: #f0efeb;


$green100: #E8ECE4;
$green300: #7D8B6F;
$green500: #333d29;
$green700: #242B1D;
$green900: #0F120C;

$orange100: #F3DDD1;
$orange300: #DC9E7F;
$orange500: #C56A3C;
$orange700: #894929;
$orange900: #3B1F12;

$yellow100: #faedc6;
$yellow300: #f3d57a;
$yellow500: #cfb557;
$yellow700: #8f7527;
$yellow900: #2f270d;


$black: #0b0704;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;
